      body{
            padding: 0%;
            margin: 0%;
            background-color: #BEBBBA;
            font-size: 14px;
            font-family:"arial";
        }

      .arka{
            padding: 75%;
      }

      .opl-treeview{
            height: 80%;
            width: 80%;
      }
      /*************************************************************/

/* tree view */

.opl-treeview{
    width:100%;
    height: 300px;
}